<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:util="http://www.springframework.org/schema/util"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--       http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--       http://www.springframework.org/schema/util-->
<!--       https://www.springframework.org/schema/util/spring-util.xsd">-->

<!--    <bean id="dbConnectBook" class="books.dbServiceBook.DbConnectBook">-->
<!--    </bean>-->

<!--    <bean id="bookDao" class="books.dao.BookDaoJdbcImpl">-->
<!--        <constructor-arg ref="dbConnectBook"/>-->
<!--    </bean>-->

<!--    <bean id="serviceBook" class="books.service.ServiceBookImpl">-->
<!--        <constructor-arg ref="bookDao"/>-->
<!--    </bean>-->

<!--    <bean id="dbConnectUser" class="users.dbServiceUsers.DbConnectUser">-->
<!--    </bean>-->

<!--    <bean id="userDao" class="users.dao.UserDaoJdbcImpl">-->
<!--        <constructor-arg ref="dbConnectUser"/>-->
<!--    </bean>-->

<!--    <bean id="serviceUser" class="users.service.ServiceUserImpl">-->
<!--        <constructor-arg ref="userDao"/>-->
<!--    </bean>-->


<!--</beans>-->


